<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="MkvMergeFilePath" value="C:\Users\youlu\AppData\Local\Programs\MKVToolNix\mkvmerge.exe"/>
    <add key="Mp4MuxerFilePath" value="C:\Users\youlu\AppData\Local\Programs\bin\mp4muxer.exe"/>
  </appSettings>
</configuration>