<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net45" developmentDependency="true" />
  <package id="Crc32.NET" version="1.1.0" targetFramework="net461" />
  <package id="Fody" version="2.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="MediaInfo.DotNetWrapper" version="1.0.2.0" targetFramework="net461" />
  <package id="MediaInfo.Native" version="0.7.99" targetFramework="net45" />
</packages>